.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #FFF0B9;
  height: 95px;
}

.navbar .d-flex {
  z-index: 1; /* Garante que o link esteja acima de outros elementos */
}
