.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #FFF0B9;
  height: 95px;
}

.navbar .d-flex {
  z-index: 1; /* Garante que o link esteja acima de outros elementos */
}
.cadastro-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

.cadastro-image img {
  max-width: 400px; /* Ajuste o tamanho da imagem */
  height: auto;
  margin-right: 20px;
}

.cadastro-form {
  width: 50%; /* Ajuste a largura do formulário */
}

/* Estilo para os blocos amarelos */
.yellow-blocks {
  display: flex;
  justify-content: center; 
  margin-top: 80px; 
}

.yellow-block {
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  justify-content: center; 
  background-color: #FFFDAF; 
  border: 2px solid #FFBD00; 
  flex: 1 1 calc(25% - 20px); 
  max-width: 800px; 
  min-width: 150px; 
  text-align: center; 
  padding: 30px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  font-weight: bold; 
  color: #000000;
  gap: 10px; 
}

.yellow-block i {
  font-size: 30px; 
  color: #000000; 
}

.yellow-block span {
  font-size: 14px; 
  font-weight: bold; 
}
